// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import '~vuetify/dist/vuetify.min.css'
